body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #e3f8e3;
}
h1 {
  color: #202124;
  font-size: 30px;
  margin-bottom: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  font-size: 12px;
}
footer {
  text-align: center;
  font-size: 10px;
}
.weather-app {
  background-color: #fff;
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid #e3f8e3;
  border-radius: 5px;
  color: #878787;
}
.temperature-wrapper {
  color: #202124;
}
.temperature-wrapper a {
  text-decoration: none;
  color: #202124;
}
#temperature {
  font-size: 40px;
  margin-left: 12px;
}
#unit {
  font-size: 16px;
  position: relative;
  top: 10px;
}
#icon {
  height: 64px;
  width: 64px;
}
#cels-link {
  pointer-events: none;
  font-weight: 700;
}
#fahr-link {
  font-weight: 200;
}
